@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

.menu li a:hover {
  text-decoration: underline;
}

#container-hero {
  width: 100%;
  margin: 0;
  padding: 0;
}

#container-hero-img {
  background-image: url(../img/hero_section.jpg);
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin: 0;
}

.container-hero-titulo {
  color: white;
  text-align: center;
  padding-top: 8rem;
  font-size: 'Poppins';
}

.container-hero-saludo {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 4rem;
  margin-top: 7rem;
}

.contenedor-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem;
  padding: 0;
  background-color: white;
  border: solid 4px black;
  -webkit-box-shadow: 5px 5px 10px 5px;
          box-shadow: 5px 5px 10px 5px;
  width: 300px;
}

.card:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.cardcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nombre-modelo {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

.imagen-card {
  height: 250px;
  width: 210px;
  -o-object-position: center;
     object-position: center;
  margin: 1rem;
  background-color: #c3c1c1;
}

.btn-carrito {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.card-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-carrito img {
  width: 50px;
}

.card-carrito h2 {
  font-size: 20px;
  padding: 2rem;
}

.card-carrito p {
  padding: 1rem;
}

.contenedor-accesorios-parrafo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 6rem;
}

.cards-accesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.cards-accesorios .card {
  border-radius: 10px;
  border: solid 4px gray;
  -webkit-box-shadow: 5px 5px 10px 5px white;
          box-shadow: 5px 5px 10px 5px white;
}

.cards-accesorios .card:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.cards-accesorios .card-body {
  font-weight: bold;
}

.banner {
  background-color: #afa4a4;
  margin: 2rem;
}

.banner .contenido-banner {
  padding: 2rem;
  text-align: center;
}

.banner .contenido-banner h2 {
  padding-top: 1rem;
}
/*# sourceMappingURL=styles.css.map */