@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

.menu li a:hover {
  text-decoration: underline;
}

.cantidad-productos {
  position: relative;
  top: -30px;
  left: 12px;
  font-weight: bold;
  background-color: #a52828;
  border-radius: 10px 10px 10px 10px;
}

#container-hero {
  width: 100%;
  margin-top: 4rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container-hero-img {
  background-image: url(../img/hero_section.jpg);
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding-top: 3rem;
}

.container-hero-titulo {
  color: white;
  text-align: center;
  padding-top: 8rem;
  font-size: 'Poppins';
}

.container-hero-saludo {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 4rem;
  margin-top: 7rem;
}

.contenedor-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem;
  padding: 0;
  background-color: white;
  border: solid 4px black;
  -webkit-box-shadow: 5px 5px 10px 5px;
          box-shadow: 5px 5px 10px 5px;
  width: 300px;
}

.card:hover {
  background-color: #f5efef;
  color: black;
  cursor: pointer;
}

.nombre-modelo {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

.imagen-card {
  height: 250px;
  width: 210px;
  -o-object-position: center;
     object-position: center;
  margin: 1rem;
  background-color: #c3c1c1;
}

.btn-carrito {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: 175px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #3483fa;
  color: white;
}

.btn-carrito:hover {
  background-color: #0b5ad1d5;
}

.card-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-carrito img {
  width: 50px;
}

.card-carrito h2 {
  font-size: 20px;
  padding: 2rem;
}

.card-carrito p {
  padding: 1rem;
}

.contenedor-accesorios-parrafo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.contenedor-accesorios-parrafo h2 {
  font-size: 40px;
}

.contenedor-accesorios-parrafo h3 {
  font-size: 20px;
}

.cards-accesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.cards-accesorios .card {
  border-radius: 10px;
  border: solid 4px gray;
  -webkit-box-shadow: 5px 5px 10px 5px white;
          box-shadow: 5px 5px 10px 5px white;
}

.cards-accesorios .card:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.cards-accesorios .card-body {
  font-weight: bold;
}

.banner {
  background-color: #afa4a4;
  margin: 2rem;
}

.banner .contenido-banner {
  padding: 2rem;
  text-align: center;
}

.banner .contenido-banner h2 {
  padding-top: 1rem;
}

#body-contacto {
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto';
}

.formulario-contacto {
  width: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  margin-top: 10rem;
}

.formulario-contacto h2 {
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 30px;
}

.formulario-contacto input, textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 0.5rem;
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  min-height: 150px;
  max-height: 300px;
  max-width: 100%;
}

#btnContacto {
  background-color: #d8d1d1;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 50px;
  background-color: #3483fa;
  color: white;
  margin-top: 2rem;
}

#btnContacto:hover {
  background-color: #0b5ad1d5;
}

.footer {
  background-color: #eeebeb;
}

.footer-redes {
  text-align: center;
}

.footer-redes img {
  padding: 1rem;
}

.footer-copyright {
  text-align: center;
  padding: 2rem;
  color: black;
}

.footer-copyright h3 {
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .formulario-contacto {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */