@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

//NAV VAR

.menu li a:hover{
        text-decoration: underline;
    }



// HERO SECTION

#container-hero {
    width: 100%;
    margin: 0;
    padding: 0;
}

#container-hero-img {
    background-image: url(../img/hero_section.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin: 0;
}
.container-hero-titulo{
    color: white;
    text-align: center;
    padding-top: 8rem;
    font-size: 'Poppins';
}

.container-hero-saludo{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 4rem;
    margin-top: 7rem;
}


//TIENDA
.contenedor-tienda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.card {
    align-items: center;
    margin: 4rem;
    padding: 0;
    background-color: white;
    border: solid 4px black;
    box-shadow: 5px 5px 10px 5px;
    width: 300px;
}
.card:hover {
    transform: translateY(-3%);
}

.cardcard{
    display: flex;
    flex-direction: row;
}

.nombre-modelo {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

.imagen-card {
    height: 250px;
    width: 210px;
    object-position: center;
    margin: 1rem;
    background-color: rgb(195, 193, 193);
}

.btn-carrito{
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white; 
}



//CARRITO MODAL

.card-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-carrito img{
    width: 50px;
}
.card-carrito h2 {
    font-size: 20px;
    padding: 2rem;
}
.card-carrito p {
    padding: 1rem;
}
    

// SECCION CARDS ACCESORIOS

.contenedor-accesorios-parrafo{
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
}

.cards-accesorios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.cards-accesorios .card{
    border-radius: 10px;
    border: solid 4px gray;
    box-shadow: 5px 5px 10px 5px white;
    
}

.cards-accesorios .card:hover{
    transform: translateY(-3%);
}

.cards-accesorios .card-body{
    font-weight: bold;
}


//BANNER

.banner {
    background-color: rgb(175, 164, 164);
    margin: 2rem;
    .contenido-banner{
        padding: 2rem;
        text-align: center;
            h2{
                padding-top: 1rem;
            }
    }
}





 