@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

//NAVBAR

.menu li a:hover{
        text-decoration: underline;
    }

.cantidad-productos{
    position: relative;
    top:-50px;
    left: 20px;
    font-weight: bold;
    background-color: rgb(165, 40, 40);
    border-radius: 10px 10px 10px 10px;
}



// HERO SECTION

#container-hero {
    width: 100%;
    margin: 0;
    padding: 0;
}

#container-hero-img {
    background-image: url(../img/hero_section.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin: 0;
}
.container-hero-titulo{
    color: white;
    text-align: center;
    padding-top: 8rem;
    font-size: 'Poppins';
}

.container-hero-saludo{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 4rem;
    margin-top: 7rem;
}


//TIENDA
.contenedor-tienda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.card {
    align-items: center;
    margin: 4rem;
    padding: 0;
    background-color: white;
    border: solid 4px black;
    box-shadow: 5px 5px 10px 5px;
    width: 300px;
}


.nombre-modelo {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

.imagen-card {
    height: 250px;
    width: 210px;
    object-position: center;
    margin: 1rem;
    background-color: rgb(195, 193, 193);
}

.btn-carrito{
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white; 
}
.btn-carrito:hover{
    
    background-color: gray;
}



//CARRITO MODAL

.card-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-carrito img{
    width: 50px;
}
.card-carrito h2 {
    font-size: 20px;
    padding: 2rem;
}
.card-carrito p {
    padding: 1rem;
}
    

// SECCION CARDS ACCESORIOS

.contenedor-accesorios-parrafo{
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
}

.cards-accesorios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.cards-accesorios .card{
    border-radius: 10px;
    border: solid 4px gray;
    box-shadow: 5px 5px 10px 5px white;
    
}

.cards-accesorios .card:hover{
    transform: translateY(-3%);
}

.cards-accesorios .card-body{
    font-weight: bold;
}


//BANNER

.banner {
    background-color: rgb(175, 164, 164);
    margin: 2rem;
    .contenido-banner{
        padding: 2rem;
        text-align: center;
            h2{
                padding-top: 1rem;
            }
    }
}


//formulario de contacto

#body-contacto{
    background-image:url(../img/contacto.jpg);
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;

}

.formulario-contacto{
    width: 500px;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 20px;
    margin-top: 5rem;
    h2{
        color: white;
        text-align: center;
        padding: 2rem;
        font-size: 30px;
    }
}

.formulario-contacto input,textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 1rem;
    font-size: 17px;
    box-sizing: border-box;
}

textarea{
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

#btnContacto{
    background-color: rgb(216, 209, 209);
    font-weight: bold;
    font-size: 20px;   
}
#btnContacto:hover{
    background-color: white;
}


//MEDIA QUERYS

@media (max-width: 425px){
    .formulario-contacto{
        width: 100%;
    }
}

 